.question-content {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.btn-group {
  padding: 5rem 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#dislike, #like {
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 0.8rem;
  font-weight: bold;
}

#dislike {
  background-color: red;
}

#like {
  background-color: royalblue;
}
